<a href="https://colab.research.google.com/github/DinhSonpro12/deadline-may_hoc/blob/main/preprocessing_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone https://github.com/DinhSonpro12/file-sheet.git

fatal: destination path 'file-sheet' already exists and is not an empty directory.

In [ ]:
%cd /home

!git clone https://github.com/DinhSonpro12/file-sheet.git

/home
Cloning into 'file-sheet'...
remote: Enumerating objects: 27, done.
remote: Counting objects: 100% (27/27), done.
remote: Compressing objects: 100% (25/25), done.
remote: Total 27 (delta 6), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (27/27), done.

In [ ]:
# import shutil
# shutil.rmtree('/home/file-sheet')

In [ ]:
%cd /content

/content

In [ ]:

print(train[1][3])

In [ ]:
# khác nhau giữa #1 và #2 là # 2 không in ra tên cột Times

print(train[['Times']]) #1

print("\n",train['Times'].head(5))  #2

In [ ]:
# dataset = pd.concat(objs=[train,test], axis=0)
dataset = pd.concat([train, test])

dataset.info()

In [ ]:










# clone file sheet from github của anh sơn pro
!gdown --id 1NkcKJyW8XpvaKDZlG-HRCY4igmL1ZSGF

# down file wecode and file score from drive của anh đinh sơn pro 

## file wecode
!gdown --id 1X5pBfb94tpaCUGtB7gHDFXPzXv4L8Gnr
## file score
!gdown --id 1JFZZRDMWNWWWxzkTWzoJI1v8XC7GTZfO

Downloading...
From: https://drive.google.com/uc?id=1NkcKJyW8XpvaKDZlG-HRCY4igmL1ZSGF
To: /content/wecode.csv
30.8MB [00:00, 84.2MB/s]
Permission denied: https://drive.google.com/uc?id=1X5pBfb94tpaCUGtB7gHDFXPzXv4L8Gnr
Maybe you need to change permission over 'Anyone with the link'?
Downloading...
From: https://drive.google.com/uc?id=1JFZZRDMWNWWWxzkTWzoJI1v8XC7GTZfO
To: /content/score_training.csv
100% 23.9k/23.9k [00:00<00:00, 43.9MB/s]

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

train = pd.read_csv("/content/wecode.csv")

# test = pd.read_csv("/content/file-sheet/insert.csv")

In [ ]:
# delete rows missing data
dataset = train.dropna()

- điểm số thi cuối kì được lưu tại data_train_y lấy những giá trị ko bị khuyết điểm cuối kì, bảng gồm 2 cột là `id-user` và `điểm cuối kì`
- Bên vai trò `X` thì tạo ra 1 table với hàng là những `id-user` có `điểm cuối kì` 
+ Tiếp tục gộp những dòng có chung id-user rồi thống kê tạo thành 1 cột mới là số lần nộp

In [ ]:
print(dataset["id"].max())

In [ ]:
#đếm số giá trị của một feature
train.coefficient.value_counts()

In [ ]:
import datetime
# xóa cột
train.drop(columns=['id'])
# chuyển kiểu dữ liệu
train["created_at"]= pd.to_datetime(train["created_at"])
train["updated_at"]= pd.to_datetime(train["updated_at"])

# tạo cột mới new_times = up - cre
train["created_at"] =  train["updated_at"] - train["created_at"]

In [ ]:
# đổi tên cre -> new_times
train.rename(columns={'created_at': 'new_times'}, inplace=True)

In [ ]:
#xóa cột
train = train.drop(columns=["updated_at"])
train

In [ ]:
d = train['new_times'].dt.total_seconds().head()
print(d)d = train['new_times'].dt.total_seconds().head()

# df['diff'] = df['diff'].dt.total_seconds().astype(int)

In [ ]:
train.info()

# BẮT ĐẦU LÀM

In [ ]:
## file wecode
!gdown --id 1NkcKJyW8XpvaKDZlG-HRCY4igmL1ZSGF
## file score
!gdown --id 1JFZZRDMWNWWWxzkTWzoJI1v8XC7GTZfO

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# import datetime

train = pd.read_csv("/content/wecode.csv")

train["created_at"]= pd.to_datetime(train["created_at"])
train["updated_at"]= pd.to_datetime(train["updated_at"])

train["new_time"] =  train["updated_at"] - train["created_at"]

In [ ]:
train.coefficient.value_counts()

In [ ]:
train[train.coefficient=='error']

In [ ]:
train['coefficient'] = train[train['coefficient'] != 'error']

train["coefficient"] = pd.to_numeric(train["coefficient"])


# train['coefficient'].astype(str).astype(int)
# e = pd.to_numeric(train['coefficient'], downcast='float')

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264606 entries, 0 to 264605
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             264606 non-null  int64
 1   assignment_id  264606 non-null  int64
 2   problem_id     264606 non-null  int64
 3   user_id        264606 non-null  int64
 4   is_final       264606 non-null  int64
 5   status         264605 non-null  object
 6   pre_score      264606 non-null  int64
 7   coefficient    264354 non-null  float64
 8   file_name      264606 non-null  object
 9   language_id    264606 non-null  int64
 10  created_at     264606 non-null  datetime64[ns]
 11  updated_at     264606 non-null  datetime64[ns]
 12  new_time       264606 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), float64(1), int64(7), object(2), timedelta64[ns](1)
memory usage: 26.2+ MB

In [ ]:
train['new_time'] =  train['new_time'].dt.total_seconds()
train.new_time

0           8.0
1           8.0
2         935.0
3           1.0
4           1.0
          ...
264601      7.0
264602      1.0
264603      6.0
264604     31.0
264605     23.0
Name: new_time, Length: 264606, dtype: float64

In [ ]:
train.head()

In [ ]:
train.info()

In [ ]:
# tt.groupby(['user_id']).sum()
# # f.groupby(['Animal']).mean()

# ###### LƯU Ý NÈ 
# tt[tt.user_id ==4]['id'].count()


# sum(tt.user_id == 4)

- Xóa cột `languae` id và `file_name` và `id`
-SUM: `coefficient` --- `new_time`----`pre_score`----

In [ ]:
df = pd.DataFrame(np.sort(train.user_id.unique()))
df.columns = ['user_id']

In [ ]:
df = pd.merge(df,train.groupby('user_id',as_index=False)[['assignment_id']].nunique(), on = 'user_id')

df = pd.merge(df,train.groupby('user_id',as_index=False)[['problem_id']].nunique(), on = 'user_id')

df = pd.merge(df,train[train.status == 'SCORE'].groupby(['user_id'], as_index= False)[['status']].count(), on = 'user_id')

In [ ]:

df = pd.merge(df,train.groupby(['user_id'], as_index= False)[['is_final' ,'coefficient','pre_score' ,'new_time']].sum(), on = 'user_id')

In [ ]:

df = pd.merge(df,train[train.status == 'Compilation Error'].groupby(['user_id'], as_index= False)[['status']].count(), on = 'user_id')

In [ ]:

df.columns = ['user_id', 'C_assignment_id', 'C_problem_id', 'C-SCORE', 'S_coefficient', 'S_is_final',
       'S_pre_score', 'S_new_times', 'C_Compilation_Error']
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1139 entries, 0 to 1138
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              1139 non-null   int64
 1   C_assignment_id      1139 non-null   int64
 2   C_problem_id         1139 non-null   int64
 3   C-SCORE              1139 non-null   int64
 4   S_coefficient        1139 non-null   int64
 5   S_is_final           1139 non-null   float64
 6   S_pre_score          1139 non-null   int64
 7   S_new_times          1139 non-null   float64
 8   C_Compilation_Error  1139 non-null   int64
dtypes: float64(2), int64(7)
memory usage: 89.0 KB

In [ ]:
df

      user_id  C_assignment_id  ...  S_new_times  C_Compilation_Error
0           1                1  ...         13.0                    1
1           4                1  ...       5635.0                    6
2           5                4  ...       2427.0                    2
3           6                4  ...      97026.0                   25
4          11               10  ...     920492.0                    7
...       ...              ...  ...          ...                  ...
1134     1859                7  ...        297.0                    9
1135     1860               10  ...    4225275.0                   10
1136     1862                2  ...       2194.0                    4
1137     1864                5  ...    1009160.0                   55
1138     1865                3  ...     707600.0                   40

[1139 rows x 9 columns]

lấy dữ liệu vế Y

In [ ]:

score = pd.read_csv("/content/score_training.csv")
score.rename(columns={'id': 'user_id'}, inplace=True)
score = pd.merge(df, score[["user_id",'CK']], on = 'user_id', how = 'left' )

In [ ]:
score.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1139 entries, 0 to 1138
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              1139 non-null   int64
 1   C_assignment_id      1139 non-null   int64
 2   C_problem_id         1139 non-null   int64
 3   C-SCORE              1139 non-null   int64
 4   S_coefficient        1139 non-null   int64
 5   S_is_final           1139 non-null   float64
 6   S_pre_score          1139 non-null   int64
 7   S_new_times          1139 non-null   float64
 8   C_Compilation_Error  1139 non-null   int64
 9   CK                   843 non-null    object
dtypes: float64(2), int64(7), object(1)
memory usage: 137.9+ KB

In [ ]:
score

In [ ]:
df_2 = score.loc[score.CK.notnull()]
df_2["CK"] = pd.to_numeric(df_2["CK"],errors = 'coerce') # convert object -> float64

In [ ]:

df_2 = df_2.dropna()
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 797 entries, 8 to 1138
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              797 non-null    int64
 1   C_assignment_id      797 non-null    int64
 2   C_problem_id         797 non-null    int64
 3   C-SCORE              797 non-null    int64
 4   S_coefficient        797 non-null    int64
 5   S_is_final           797 non-null    float64
 6   S_pre_score          797 non-null    int64
 7   S_new_times          797 non-null    float64
 8   C_Compilation_Error  797 non-null    int64
 9   CK                   797 non-null    float64
dtypes: float64(3), int64(7)
memory usage: 68.5 KB

In [ ]:
x_train = df_2.drop(columns=['CK','user_id'], axis = 1)
y_train = df_2[['CK']]

In [ ]:
score.CK[94]

nan

In [ ]:
np.savetxt("save.txt",y_train,fmt = '%.2f')

In [ ]:
x_train.dropna()
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 797 entries, 8 to 1138
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   C_assignment_id      797 non-null    int64
 1   C_problem_id         797 non-null    int64
 2   C-SCORE              797 non-null    int64
 3   S_coefficient        797 non-null    int64
 4   S_is_final           797 non-null    float64
 5   S_pre_score          797 non-null    int64
 6   S_new_times          797 non-null    float64
 7   C_Compilation_Error  797 non-null    int64
dtypes: float64(2), int64(6)
memory usage: 56.0 KB

In [ ]:

from sklearn.linear_model import LinearRegression

model = LinearRegression().fit(x_train, y_train)

In [ ]:
main_test = score.loc[score.CK.isnull()]

In [ ]:
main_test

      user_id  C_assignment_id  ...  C_Compilation_Error   CK
0           1                1  ...                    1  NaN
1           4                1  ...                    6  NaN
2           5                4  ...                    2  NaN
3           6                4  ...                   25  NaN
4          11               10  ...                    7  NaN
...       ...              ...  ...                  ...  ...
1129     1851                3  ...                   16  NaN
1130     1852                1  ...                   12  NaN
1131     1855                9  ...                   11  NaN
1135     1860               10  ...                   10  NaN
1137     1864                5  ...                   55  NaN

[296 rows x 10 columns]

In [ ]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 296 entries, 0 to 1137
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   C_assignment_id      296 non-null    int64
 1   C_problem_id         296 non-null    int64
 2   C-SCORE              296 non-null    int64
 3   S_coefficient        296 non-null    int64
 4   S_is_final           296 non-null    float64
 5   S_pre_score          296 non-null    int64
 6   S_new_times          296 non-null    float64
 7   C_Compilation_Error  296 non-null    int64
dtypes: float64(2), int64(6)
memory usage: 30.8 KB

In [ ]:
x_test = main_test.drop(columns = ['CK','user_id'])

In [ ]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 296 entries, 0 to 1137
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              296 non-null    int64
 1   C_assignment_id      296 non-null    int64
 2   C_problem_id         296 non-null    int64
 3   C-SCORE              296 non-null    int64
 4   S_coefficient        296 non-null    int64
 5   S_is_final           296 non-null    float64
 6   S_pre_score          296 non-null    int64
 7   S_new_times          296 non-null    float64
 8   C_Compilation_Error  296 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 33.1 KB

In [ ]:
result = model.predict(x_test)

In [ ]:
result = pd.DataFrame(result, columns=['Diem Cuoi Ky'])

In [ ]:
result = result.dropna()
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 296 entries, 0 to 295
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Diem Cuoi Ky  296 non-null    float64
dtypes: float64(1)
memory usage: 4.6 KB

In [ ]:
kt = main_test[['user_id']]
# np.savetxt("save2.txt",kt,fmt = '%.2f')
kt.join(result, how ='left',lsuffix='_caller', rsuffix='_other')

      user_id  Diem Cuoi Ky
0           1      5.491684
1           4      5.773144
2           5      5.273934
3           6      5.841163
4          11      5.342026
...       ...           ...
1129     1851           NaN
1130     1852           NaN
1131     1855           NaN
1135     1860           NaN
1137     1864           NaN

[296 rows x 2 columns]